body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background: linear-gradient(315deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: nowrap;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem;
    border-radius: 32px;
    gap: 2rem;
    width: 50%;
    max-width: 800px;
}

.input, .output {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 0.5rem 1rem;
    text-align: start;
    background-color: #f1f1f1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) inset;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    width: calc(100% - 2rem);
    resize: none;
}

.output {
    text-wrap: wrap;
    text-wrap-mode: normal;
    word-break: break-all;
    min-height: 4.625rem;
}

.controls {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    background-color: #000;
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1) inset;
}
